{% extends 'base.html.twig' %}

{% block body %}

    <h1>Бла-Бла-бла</h1>

    <p>"Бла-бла-бла лотерея" — это лотерея, в которую играют во многих странах мира.
        Розыгрыши проводятся вечером ... , а минимальный гарантированный джекпот
        равен ... и может переносится на следующие розыгрыши, пока не достигнет впечатляющей
        суммы — ... .</p>
    <p>Вы всегда можете выбрать любую из множества предоставленных ва возможностей!</p>
    <a  href="{{ path('lotery_list') }}">Список лотерей</a>

    <h2>Результаты "Бла-бла-бла лотереи"</h2>

    <p>На нашей странице вы найдёте самые <a  href="{{ path('result') }}">последние результаты</a> "Бла-бла-бла лотереи", публикуемые сразу после проведения очередного тиража.
        В дополнении к выигрышным номерам, мы публикуем подробное распределении призов и информацию о выигравших джек-пот билетах.</p>

    <h3>Выигрывайте квартиры, машины и миллионы дооларов!</h3>

    <p>В этих лотереях вы можете выиграть самые разнообразные призы!
        Автомобили, дома, квартиры, путешествия — что выберете вы?
        Числа на билетах уже отмечены — осталось вытянуть счастливый! </p>
    <!--
    <blockquote><p>Luctus vitae, dolor. Nunc mauris eros, vehicula id, fermentum non, semper ac, nisl. Cras sed purus non justo lobortis rhoncus. Morbi consectetuer augue</p></blockquote>

    <p>Luctus vitae, dolor. Nunc mauris eros, vehicula id, fermentum non, semper ac, nisl. Cras sed purus non justo lobortis rhoncus. Morbi consectetuer augue.</p>
     -->

{% endblock %}

{% block stylesheets %}

{% endblock %}
